:root {
    --main-bg-color: #009d63;
    --main-text-color: #009d63;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
}

.primary-text {
    color: #2f3031;
}

.second-text {
    color: var(--second-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    overflow-x: hiddden;
    background-image: linear-gradient(to right, #baf3d7, #c2f5de, #cbf7e4, #d4f8ea, #ddfaef);
}

#sidebar-wrapper {
    min-height: 100vh;
    width: 188px;
    margin-left: 0;
}



#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
    color: #009d63;
    background-color: white;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: #2f3031;
    font-weight: bold;
    border: none;
    width: 188px;
}

.list-group-item.active:hover {
    background-color: white;
}


#page-content-wrapper {
    min-width: 0;
    width: 100%;    
}

.search_wrap{
	width: 400px;
    margin-right: 1px;
    float: right;
    margin-top: 47px;
}

.search_wrap .search_box{
	position: relative;
	width: 300px;
	height: 25px;
}

.search_wrap .search_box .input{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-left: 10px ;
    padding-right: 80px;
	font-size: 14px;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 1px;
	width: 45px;
	height: 98%;
	background: #a1f8a4;
	cursor: pointer;
}

.search_wrap .search_box .btn.btn_common .fas{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 30px;
}

.dropdown-menu {
    margin-left: 1000px;
    background-image: linear-gradient(to right, #baf3d7, #c2f5de, #cbf7e4, #d4f8ea, #ddfaef);
}

.dropdown-item:hover {
    background-color: white;
}

.btn-add {
    background-color: #a1f8a4;
    margin-left: 25px;
    font-weight: bold;
    color: #2f3031;
}

.table-header {
    background-color: #baf3d7;
}

.table {
    margin-left: 25px;
    width: 90%;
}

.data-row {
    font-size: 14px;
}

.action-icon {
    color: #0ba310;
}

.popup {
    display: none;
    width: 33.333333%;
    padding: 15px;
    left: 0;
    margin-left: 33.333333%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
    position: absolute;
    top: 15%;
    box-shadow: 5px 5px 5px #000;
    z-index: 10001;
  }

  .overlay {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.10);
    z-index: 10000;
  }