:root {
    --main-bg-color: #009d63;
    --main-text-color: #009d63;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
}

.primary-text {
    color: #2f3031;
}

.second-text {
    color: var(--second-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    overflow-x: hiddden;
    background-image: linear-gradient(to right, #baf3d7, #c2f5de, #cbf7e4, #d4f8ea, #ddfaef);
}

#sidebar-wrapper {
    min-height: 100vh;
    width: 188px;
    margin-left: 0;
}



#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
    color: #009d63;
    background-color: white;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: #2f3031;
    font-weight: bold;
    border: none;
    width: 188px;
}

.list-group-item.active:hover {
    background-color: white;
}


#page-content-wrapper {
    min-width: 0;
    width: 100%;    
}
h2 {
    margin-left: 200px;
    margin-top: 20px;
    color: rgba(19, 52, 76, 1);
    font-size: 1cm;
    
}
header a {
    background-color: gray;
    border-radius: 50%;
    overflow: hidden; 
    width: 30px; 
    height: 20px; 
    margin-right: 2%;
    margin-top: 3px;
    margin-bottom: 5px;
    
}
header :hover{
    opacity: 1.0;
}
header img{
    overflow: hidden; 
    position: center;
    width: 30px;
    height: 25px;
    padding-right: 10%;
    padding-left: 3%;
    margin-top: 2%;
}
.container .input{
    position: relative;
	border:none;
	display: inline-block;
	color: #8b7d77;
}

.search_wrap{
    border: solid;
	width: 500px;
	margin: 38px auto;
    margin-left: 201px;
    float: left;
}

.search_wrap .search_box{
	position: relative;
	width: 500px;
	height: 50px;
}

.dropdown-menu {
    margin-left: 1000px;
    background-image: linear-gradient(to right, #baf3d7, #c2f5de, #cbf7e4, #d4f8ea, #ddfaef);
}

.dropdown-item:hover {
    background-color: white;
}
.search_wrap .search_box .input{

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-left: 10px ;
    padding-right: 80px;
	font-size: 18px;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 2px;
	width: 60px;
	height: 100%;
    border-right: solid;
    border-left: solid;
	background: #82858b;
	cursor: pointer;
}

.search_wrap .search_box .btn:hover{
	background:rgba(54, 122, 145, 1);	
}

.search_wrap .search_box .btn.btn_common .fas{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: rgb(0, 0, 0);
	font-size: 30px;
}

/*table*/
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse:collapse;
    width: 83%;
    margin-left: 201px;
}
  
  #customers td, #customers th {
    border: 1px solid rgb(0, 0, 0);
    padding: 24px;
    font-size: 15px;
  }
  
  #customers tr:nth-child(even){
    background-color: #f2f2f2;}
  
  #customers tr:hover {
    background-color:rgba(54, 122, 145, 1);
}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(3, 44, 82);
    color: white;
    text-align: center;
}
